data/hf/synthetic_shirts/MEN_Tees_Tanks_id_00003249/var_04.jpg
data/hf/synthetic_shirts/MEN_Tees_Tanks_id_00003249/var_05.jpg
data/hf/synthetic_shirts/MEN_Tees_Tanks_id_00003249/var_06.jpg
data/hf/synthetic_shirts/MEN_Tees_Tanks_id_00003249/var_07.jpg
data/hf/synthetic_shirts/MEN_Tees_Tanks_id_00003249/var_08.jpg
data/hf/synthetic_shirts/MEN_Tees_Tanks_id_00003249/var_09.jpg
/data
/outputs/visual_test
